.box {
    border: 1px solid #DEDEDE;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
    -webkit-box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
    -moz-box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
}

.box-header {
    border-bottom: 1px solid #DEDEDE;
    font-weight:bold;
}

.box-icon{
    margin-top: 10px;
    margin-left: 10px;
    height: 40px;
}

.box-icon img {
    height: 32px;
    width: 32px;
}

.box-icon a {
    width: 32px;
    height: 32px;
    margin-right: 10px;  
}

.box-icon a img {
    height: 32px;
    width: 32px;
}

.pull-right {
    float: right !important;
}

.box-content {
    padding: 10px;
}

